.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom {
  width: 460px !important;
  height: 56px !important;
}

#loginForm {
  display: inline-block;
  margin-top: -8%;
}

#loginComponent {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
