.img-fluid {
  max-width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 2em;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 30px;
  width: 30px;
}
