#ProceduresPannel {
  border-radius: 0.5em;
  height: 400px;
}
#ChattingPannel {
  border-radius: 0.5em;
  height: 400px;
}
/* table {
  width: 100%;
  border: 1px solid black;
}
td {
  padding: 10px;
  border: 1px solid black;
  border-spacing: 1px;
} */
