body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'DSEG7Classic-Bold';
  src: local('DSEG7Classic-Bold'),
    url(./fonts/DSEG7Classic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'DSEG7Classic-Light';
  src: local('DSEG7Classic-Light'),
    url(./fonts/DSEG7Classic-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'DSEG7Classic-Italic';
  src: local('DSEG7Classic-Italic'),
    url(./fonts/DSEG7Classic-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'DSEG7Classic-Regular';
  src: local('DSEG7Classic-Regular'),
    url(./fonts/DSEG7Classic-Regular.ttf) format('truetype');
}
